<div data-id="copyBar" class="webswing-copyBarOuter">
    <div class="webswing-copyBar">
        <div class="container-fluid">
            <div class="webswing-copyBarButtonRow row ">
                <p>Press CTRL+C to copy.</p>
                <div class="webswing-copy-content">
                    <span data-id="plaintext" class="webswing-copy-content-inactive">Plain-text</span>|
                    <span data-id="html" class="webswing-copy-content-inactive">HTML</span>
                </div>
                <textarea data-id="textarea" class="webswing-copyBarTextArea" readonly rows="4"></textarea>
                <input data-id="input" type="text" class="input-hidden" value=" " />
                <div data-id="ie-clipboard" class="input-hidden"  contenteditable="true"></div>
            </div>
            <div class="webswing-copyBarButtonRow row ">
                <div class="col-xs-offset-8 col-xs-4">
                    <button class="btn btn-success btn-sm btn-block" data-id="closeBtn">Cancel</button>
                </div>
            </div>
        </div>
    </div>
</div>